/* 背景大模块 */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  /* gap的用法：用来设置子项目网格中行与列的空隙 */
  gap: 1rem;
}

/* logo + 标题区块 */
.App-logo {
  height: 40vmin;
  height: 80%;
  pointer-events: none;
}

/* 动画的用法？ */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* flex:1 flex-grow:1 flex-shrink:1 flex-basis:0 */
  /*       多余空间分配权重为1，溢出空间平均分，占用大小，看width设置 */
  flex: 1;
  /* 上1rem 右1rem 下0 左1rem */
  margin: 1rem 1rem 0;
  border-radius: 1rem;
  background-color: #282c34;
  /* min-height: 100vh; */
  min-height: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: white;
  /* vmin？ */
  font-size: calc(10px + 2vmin);
}